body{
    background-color: rgb(255, 255, 255);
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    max-width: 300px;
    height: auto;
    margin: 2rem;
    border-radius: 1rem;
    background: rgb(209, 209, 209);
    background: radial-gradient(circle, rgb(245, 245, 245) 0%, rgb(252, 252, 252) 100%);
}

  .card:hover{
    opacity: 0.8;
  }

.card-title{
    margin: 0.5rem 0rem 0rem 1rem;
}

.more{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.more:hover{
    opacity: 0.7;
}
